* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-page {
    background-color: #ffffff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    height: 63px;
    border: 1px solid green;
    align-items: center;
}

.header-container {
    border: 1px solid red;
    width: 960px;
    display: flex;
    justify-content: space-between;
}

.button-links {
    border: 1ps solid blue;
    display: flex;
    justify-content: flex-end;
}

.about {
    margin-left: 12px;
}

.contact {
    margin-left: 12px;
}

.portfolio {
    margin-left: 12px;
}